<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link rel="icon" href="{{ url_for('static',path='img/icon.png') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="p-5 bg-dark text-white text-center">
        <h1>CRUD DE PRODUCTOS</h1>
        <p>Aprendiendo FASTAPI el framework con mayor efectividad actual!</p>
    </div>

    {% block menu %}
        {% include 'menu.html' %}
    {% endblock %}
    <h1 class="text-center mt-4">Lista de productos</h1>
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <table class="table table-striped shadow p-3 mb-5 bg-body-tertiary rounded ">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% block productos %}
                            {% for item in usuarios %}
                                <tr>
                                    <th>{{ item["id_user"] }}</th>
                                    <td>{{ item["nombre"] }}</td>
                                    <td>{{ item["correo"] }}</td>
                                    <td>
                                        <a href="/editar_usuario/{{ item['id_user'] }}/{{ item['nombre'] }}/{{ item['correo'] }}" class="btn btn-outline-primary">Editar</a>
                                    </td>
                                    <td>
                                        <a href="/eliminar_usuario/{{ item['id_user'] }}" class="btn btn-outline-danger">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>