<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/listar_producto">Lista de Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/add_producto">Agregar producto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/respuesta">Saludo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/docs">Documentacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/crear_user">Crear usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/listar_usuarios">Lista de usuarios</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>