<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% block menu %}
        {% include 'menu.html' %}
    {% endblock %}


    <script>
        const getHola = async () => {
            try {
                const res = await fetch("http://127.0.0.1:8000/saludo");
                const response = await res.json();
                const saludo = document.createElement('h2');
                saludo.textContent = response.Saludo;
                document.body.append(saludo);
                console.log(response);
            } catch (error) {
                console.error(error);
            }
        }
        getHola();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>