<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href=" {{url_for('static',path='css/sb-admin-2.min.css') }} " rel="stylesheet">
    <link rel="stylesheet" href=" {{url_for('static',path='css/styles.css')}}  ">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {%block menu%}
            {% include 'menu.html' %}
        {%endblock%}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {%block formulario%}
                        {%if activate != null %}
                        <h1 class="h3 mb-2 text-gray-800">Eliminar usuario</h1>
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary mb-3"> Formulario</h6>
                                <form action="/delete_user" method="post" class="row validacion" >
                                    
                                    <div class="col-lg-3">
                                        <label for="validationCustom01" class="">Nombre:</label>
                                        <input class="form-control" disabled type="text" id="validationCustom01" name="nombre" value="{{usuario['nombre']}}">
                                        <input type="hidden" name="id_user" value="{{usuario['id_user']}}">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="validationCustom02" class="">Cargo:</label>
                                        <input class="form-control" disabled type="text" id="validationCustom02" name="cargo" value="{{usuario['cargo']}}">
                                       
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="validationCustom02" class="">Ciudad:</label>
                                        <input class="form-control" disabled type="text" id="validationCustom02" name="ciudad" value="{{usuario['ciudad']}}">
                                        
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="validationCustom02" class="">Edad:</label>
                                        <input class="form-control" disabled type="text" id="validationCustom02" name="edad" value="{{usuario['edad']}}">
                                        
                                    </div>
                                    <div class="col-lg-3 mt-3">
                                        <label for="validationCustom02" class="form-label">Salario:</label>
                                        <input class="form-control" disabled type="text" id="validationCustom02" name="salario" value="{{usuario['salario']}}">
                                        
                                    </div>
                                    <div class="col-lg-3 mt-5">
                                        <button class="btn btn-outline-danger">Confirmar</button>
                                    </div>
                                    <div class="col-lg-3 mt-5">
                                        <a href="/index" class="btn btn-outline-danger">Cancelar</a>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        {%endif%}
                    {%endblock%}
                    <!-- Page Heading -->
                   {%block lista_editar%}
                        {%if lista_deactivate != null %}
                        <div class="card-body">
                            <div class="table-responsive">
                                
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Salary</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>N°</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Salary</th>
                                            <th>Edicion</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% block lista_usuario %}
                                        {% for item in usuarios %}
                                            <tr>
                                                <th>{{ item["id_user"] }}</th>
                                                <td>{{ item["nombre"] }}</td>
                                                <td>{{ item["cargo"] }}</td>
                                                <td>{{ item["ciudad"] }}</td>
                                                <td>{{ item["edad"] }}</td>
                                                <td>{{ item["salario"] }}</td>
                                                <td>
                                                    <a type="submit" href="eliminar_usuario/{{item['id_user']}}" class="btn btn-outline-danger">Eliminar</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endblock %}
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        {%endif%}
                    {%endblock%}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src=" {{url_for('static',path= 'js/jquery.min.js' )}} "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src=" {{url_for('static',path= 'js/jquery.dataTables.min.js' )}} "></script>
    <script src=" {{url_for('static',path= 'js/dataTables.bootstrap4.min.js' )}} "></script>
    <script src=" {{url_for('static',path= 'js/datatables-demo.js' )}} "></script>

</body>

</html>